<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>org.toilelibre.libe.ratrap.server.search.SearchServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>buildMapServlet</servlet-name>
    <servlet-class>org.toilelibre.libe.ratrap.server.build.BuildMapServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/ratrap/search</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>buildMapServlet</servlet-name>
    <url-pattern>/ratrap/buildmap</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>RATraP.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>